<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ArffTools" version="1.1.2" targetFramework="net461" />
  <package id="Microsoft.Msagl" version="1.0.2" targetFramework="net461" />
  <package id="Microsoft.Msagl.Drawing" version="1.0.1" targetFramework="net461" />
  <package id="Microsoft.Msagl.GraphViewerGDI" version="1.0.1" targetFramework="net461" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net461" />
</packages>